<div class="wrapper">
    <div class="left"> 
      <br>
      <br>
      <h4>{{tech.nom}} {{tech.prenom}} </h4>
      <h2>{{tech.numTel}}</h2>
    </div>
          
    <div class="right">
  
      <div class="info">
        <h3> Contact information</h3>
        <div class="info_data">
          <div class="data">
                <h4>Ville de Profession</h4>
                <p> {{tech.villeProfession}}</p>
          </div>
          <div class="data">
              <h4>Status</h4>
              <p> {{tech.active}}</p>
          </div>
          <div class="data">
            <h4>Email</h4>
            <p> {{tech.email}}</p>
          </div>
        </div>
  
      <div class="info_data">
  
        <div class="data">
          <h4>Username</h4>
          <p> {{tech.username}}</p>
        </div>
  
        <div class="data">
          <h4>Role</h4>
          <p> {{tech.roles}}</p>
      </div>  
      </div>      
    </div>
</div>